<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>babbage</title>
</head>
<body>
    
    <a href="/">inicio</a>
    <center>
    <a href="/babbage">Charles Babbage</a>

    <a href="/berners_lee">Berners Lee</a>
    <a href="/clarke">Clarke</a>
    <a href="/hamilton">Margaret Hamilton</a>
    <a href="/hopper">Grace Hopper</a>
    <a href="/turing">Alan Turing</a>
    <a href="/lovelace">Lovelace</a>
    
    </center>
    
    
    <h1>
            <center>
            <p style="color:#000000";>CHARLES BABBAGE
            </center>
            </p>
    </h1>
    

    <p> Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. 
        También diseñó, pero nunca construyó, la analítica para ejecutar programas de tabulación o computación; 
        por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, 
        por lo que se le considera como "El Padre de la computación".
    
    </p>
    
    <center><img src="img/CharlesBabbage.jpg" alt=""></center>
    
    
</body>
</html>