<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clarke</title>
</head>
<body>
    <a href="/">inicio</a>

    <center>
    <a href="/clarke">Joan Clarke</a>
    <a href="/lovelace">Lovelace</a>
    <a href="/babbage">Charles Cabbage</a>
    <a href="/berners_lee">Berners Lee</a>
    <a href="/hamilton">Margaret Hamilton</a>
    <a href="/hopper">Grace Hopper</a>
    <a href="/turing">Alan Turing</a>

    </center>


    <h1>
        <center>
        <p style="color:#000000";>JOAN CLARKE
        </center>
        </p>
    </h1>

    <P> fue una numismática y criptoanalista inglesa mejor conocida por su trabajo como descifradora de códigos en Bletchley Park durante la Segunda Guerra Mundial .
        Aunque no buscó personalmente el centro de atención, su papel en el proyecto Enigma que descifró las comunicaciones secretas de la Alemania nazi le valió premios y menciones, 
        como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946.</P>

    <center><img src="img/Joan_Clarke_(cryptanalyst).jpg" alt=""></center>
    
</body>
</html>