<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hamilton</title>
</head>
<body>
    <a href="/">inicio</a>
    <center>
    <a href="/hamilton">Margaret Hamilton</a>
    
    
    <a href="/lovelace">Lovelace</a>
    <a href="/hopper">Grace Hopper</a>
    <a href="/berners_lee">Berners Lee</a>
    <a href="/babbage">Charles Babbage</a>
    <a href="/clarke">Joan Clarke</a> 
    <a href="/turing">Alan Turing</a>

    </center>
    <h1>
        <center>
            <p style="color:#000000";>MARGARET HAMILTON
        </center>
            </p>
    </h1>
    <p>
        es una científica informática estadounidense , ingeniera de sistemas y propietaria de un negocio. 
        Fue directora de la División de Ingeniería de Software de la Instrumentation Laboratory del MIT , que desarrolló el software de vuelo a bordo de la NASA 's programa Apolo. 
        Posteriormente fundó dos empresas de software: Higher Order Software en 1976 y Hamilton Technologies en 1986, ambas en Cambridge, Massachusetts .
    </p>


    <center><img src="/img/800px-Margaret_Hamilton_1995.jpg" alt=""></center>
</body>
</html>