<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    
    

    <h1>
        <center>HOME</center>
    </h1>
    
    <h1>
        <center>Heroes</center>
    </h1>
    
    <a href="/babbage"><img src="img/CharlesBabbage.jpg" alt=""></a>
    
    <a href="/berners_lee"><img src="img/BernersLeeFoto.jpg" alt=""></a>
    
    <a href="clarke"><img src="img/Joan_Clarke_(cryptanalyst).jpg" alt=""></a>

    <a href="/hopper"><img src="/img/800px-Commodore_Grace_M._Hopper,_USN_(covered)_head_and_shoulders_crop.jpg" alt=""></a>

    <a href="/hamilton"><img src="/img/800px-Margaret_Hamilton_1995.jpg" alt=""></a>

    <a href="/lovelace"><img src="/img/Ada_Lovelace_Chalon_portrait-1-1024x1024-1.jpg"alt=""></a>

    <a href="/turing"><img src="/img/Alan_Turing_Aged_16.jpg" alt=""></a>

</body>
</html>




