<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
</head>
<body>
    <a href="/">inicio</a>

    <center>
    <a href="/lovelace">Lovelace</a>


    <a href="/hamilton">Margaret Hamilton</a>
    <a href="/hopper">Grace Hopper</a>
    <a href="/berners_lee">Berners Lee</a>
    <a href="/babbage">Charles Babbage</a>
    <a href="/clarke">Joan Clarke</a>
    <a href="/turing">Alan Turing</a>

    </center>

    <h1>
        <center>
            <p style="color:#000000";>ADA LOVELACE
        </center>
            </p>
    </h1>


    <p>
        estuvo registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, 
        fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, 
        la denominada máquina analítica. Entre sus notas sobre la máquina, 
        se encuentra lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, 
        por lo que se la considera como la primera programadora de ordenadores
    </p>

    <center><img src="/img/Ada_Lovelace_Chalon_portrait-1-1024x1024-1.jpg" alt=""></center>
</body>
</html>