<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
</head>
<body>
    <a href="/">inicio</a>
    
    <center>
    
    <a href="/turing">Alan Turing</a>
    
    
    <a href="/lovelace">Lovelace</a>
    <a href="/hamilton">Margaret Hamilton</a>
    <a href="/hopper">Grace Hopper</a>
    <a href="/berners_lee">Berners Lee</a>
    <a href="/babbage">Charles Babbage</a>
    <a href="/clarke">Joan Clarke</a> 
    
    </center>

    <h1>
        <center>
            <p style="color:#000000";>ALAN TURING
        </center>
            </p>
    </h1>

    <p>
        fue un Inglés matemático , científico de la computación , el lógico , criptoanalista , filósofo y biólogo teórico.
        Turing fue muy influyente en el desarrollo de la informática teórica , 
        proporcionando una formalización de los conceptos de algoritmo y computación con la máquina de Turing , que puede considerarse un modelo de unComputadora de uso general . 
        Turing es ampliamente considerado como el padre de la informática teórica y la inteligencia artificial . 
    </p>

    <center><img src="/img/Alan_Turing_Aged_16.jpg" alt=""></center>
</body>
</html>